.contact-container {
  display: flex;
  flex-direction: column;
}

.contact-info {
  padding: 10px;
  height: 300px;

  .title {
    text-align: center;
  }

  .social-media {
    display: flex;
    justify-content: center;

    .media {
      text-align: center;
      padding: 35px;

      .logo {
        width: 30px;
        height: 30px;
      }

    }


  }
}


.map-info {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  iframe {

    border-radius: 35px;
    width: 300px;
    height: 400px;
  }
}


.facebook-link {
  cursor: pointer;
}

@media (min-width: 750px) {


  .map-info {
    iframe {
      width: 500px;

    }
  }

}

@media (min-width: 1100px) {
  .map-info {
    iframe {
      width: 800px;

    }
  }

}


